
<!-- Top Save Bar -->
<div class="d-flex justify-content-between align-items-center mx-3 mt-3 p-1 save-bar">
  <i (click)="back()" class="bi bi-chevron-left fw-bolder fs-4 text-dark back-arrow" style="cursor: pointer;"></i>
  <button class="me-4 w-10 back-btn place-self-end save-btn" (click)="save()">
    {{ isBusy ? 'Saving...' : 'Save Changes' }}
  </button>
</div>

<!-- Form Card -->
<div class="card p-4 m-4 shadow">
  <label class="mb-2"><strong>Category Name</strong><span class="text-danger">*</span></label>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="category.categoryname"
    placeholder="Enter FAQ category name"
    #categoryCtrl="ngModel"
    [class.is-invalid]="!isFieldsValid.category && clickOnSave"
    (ngModelChange)="changeValidity('category')"
  />
  <div *ngIf="!isFieldsValid.category && clickOnSave" class="invalid-feedback d-block">
    Category name is required.
  </div>
</div>
