<div class="container-fluid login-page d-flex background-img">
  <div class="row w-100 no-scroll-width overflow-y-auto">
    <!-- Left Side Illustration -->
    <div class="col-lg-6 col-sm-12">
      <div class="pl-5 pr-5 pt-5" style="width: 85%">
        <img
          src="image/left-img.png"
          alt="2FA Illustration"
          class="img-fluid illustration-img"
        />
      </div>
    </div>

    <!-- Right Side Form -->
    <div
      class="col-lg-6 col-sm-12 d-flex flex-column justify-content-center align-items-start px-5"
    >
      <div class="left-wrap">
        <!-- Logo -->
        <div class="d-flex align-items-start mb-4">
          <img src="image/logo.png" alt="Logo" />
        </div>

        <!-- Heading -->
        <div class="heading-txt">
          <h1 class="hd-txt mb-4">Welcome!!</h1>
          <h5 class="sub-text mb-4">
            Please enter your email to reset the password
          </h5>
        </div>

        <!-- 2FA Options -->
        <div class="login-form mb-4">
          <!-- Form -->
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="inpt-cls floating-label">
              <input
                class="input-box custom-input"
                type="password"
                placeholder="New Password"
                formControlName="newpassword"
              />
              <label>New Password</label>
            </div>

            <div class="inpt-cls floating-label">
              <input
                class="input-box custom-input"
                type="password"
                placeholder="Confirm Password"
                formControlName="confirmpassword"
              />
              <label>Confirm Password</label>
            </div>

            <div *ngIf="resetForm.errors?.['mismatch']" class="text-danger">
              Passwords do not match.
            </div>

            <div class="btn-class">
              <button class="common-btn login-btn" type="submit">
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
