<div class="container-fluid login-page d-flex background-img">
  <div class="row w-100 no-scroll-width overflow-y-auto">
    <div class="col-lg-6 col-sm-12">
      <div class="pl-5 pr-5 pt-5" style="width: 85%">
        <img src="image/left-img.png" alt="2FA Illustration" class="img-fluid illustration-img" />
      </div>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex flex-column justify-content-center align-items-start px-5">
      <div class="left-wrap">
        <div class="d-flex align-items-start mb-4">
          <img src="image/logo.png" alt="Logo" />
        </div>
        <div class="heading-txt">
          <h1 class="hd-txt mb-4">Welcome!!</h1>
          <h5 class="sub-text mb-4">
            <ng-container *ngIf="!passcodeSent">
              Please enter your email to reset the password
            </ng-container>
            <ng-container *ngIf="passcodeSent">
              Enter the OTP sent to your email {{ maskedEmail }}
            </ng-container>
          </h5>
        </div>
        <div class="login-form mb-4">
          <form [formGroup]="forgotForm" *ngIf="!passcodeSent" (ngSubmit)="sendOtp()">
            <div class="inpt-cls floating-label">
              <span class="icon-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                  <path d="M8.16663 10.4167L11.599 12.446C13.6 13.6291 14.3999 13.6291 16.401 12.446L19.8333 10.4167"
                    stroke="#041643" stroke-opacity="0.64" stroke-width="1.75" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M2.35177 16.2216C2.42804 19.798 2.46617 21.5862 3.78582 22.9109C5.10547 24.2356 6.9421 24.2817 10.6153 24.374C12.8792 24.4309 15.1209 24.4309 17.3848 24.374C21.058 24.2817 22.8946 24.2356 24.2142 22.9109C25.5339 21.5862 25.5721 19.798 25.6483 16.2216C25.6729 15.0716 25.6729 13.9283 25.6483 12.7785C25.5721 9.20198 25.5339 7.41375 24.2142 6.08908C22.8946 4.76442 21.058 4.71827 17.3848 4.62598C15.1209 4.56909 12.8792 4.56909 10.6153 4.62597C6.9421 4.71825 5.10547 4.76439 3.78582 6.08907C2.46617 7.41374 2.42803 9.20197 2.35177 12.7784C2.32724 13.9283 2.32724 15.0716 2.35177 16.2216Z"
                    stroke="#041643" stroke-opacity="0.64" stroke-width="1.75" stroke-linejoin="round" />
                </svg>
              </span>
              <input class="input-box custom-input" type="email" placeholder="Enter your email"
                formControlName="emailid" />
              <label>Email</label>
            </div>
            <div class="btn-class">
              <button class="common-btn login-btn" type="submit">Send Passcode</button>
            </div>
          </form>
          <form [formGroup]="forgotForm" *ngIf="passcodeSent" (ngSubmit)="resetPassword()">
            <div class="inpt-cls floating-label">
              <span class="icon-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="#002157"
                  stroke-width="2" viewBox="0 0 24 24">
                  <rect x="5" y="11" width="14" height="10" rx="2" />
                  <path d="M8 11V7a4 4 0 0 1 8 0v4" />
                </svg>
              </span>
              <input class="input-box custom-input" [type]="showPassword ? 'text' : 'password'"
                placeholder="Enter new password" formControlName="password" />
              <span class="eye-icon" (click)="togglePassword('password')">
                <svg *ngIf="!showPassword" _ngcontent-ng-c3639360675="" xmlns="http://www.w3.org/2000/svg" width="24"
                  height="25" viewBox="0 0 24 25" fill="none" class="ng-star-inserted">
                  <g _ngcontent-ng-c3639360675="" opacity="0.8">
                    <path _ngcontent-ng-c3639360675=""
                      d="M19.439 15.939C20.3636 15.0212 21.0775 14.1091 21.544 13.455C21.848 13.0287 22 12.8155 22 12.5C22 12.1845 21.848 11.9713 21.544 11.545C20.1779 9.62944 16.6892 5.5 12 5.5C11.0922 5.5 10.2294 5.65476 9.41827 5.91827M6.74742 7.24742C4.73118 8.6072 3.24215 10.4427 2.45604 11.545C2.15201 11.9713 2 12.1845 2 12.5C2 12.8155 2.15201 13.0287 2.45604 13.455C3.8221 15.3706 7.31078 19.5 12 19.5C13.9908 19.5 15.7651 18.7557 17.2526 17.7526"
                      stroke="#041643" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path _ngcontent-ng-c3639360675=""
                      d="M9.85786 10.5C9.32783 11.03 9 11.7623 9 12.5711C9 14.1887 10.3113 15.5 11.9289 15.5C12.7377 15.5 13.47 15.1722 14 14.6421"
                      stroke="#041643" stroke-width="1.5" stroke-linecap="round"></path>
                    <path _ngcontent-ng-c3639360675="" d="M3 3.5L21 21.5" stroke="#041643" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </g>
                </svg>

                <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                  stroke="#002157" stroke-width="2" viewBox="0 0 24 24">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z" />
                  <circle cx="12" cy="12" r="3" />
                </svg>
              </span>
              <label>Password</label>
            </div>
            <div class="inpt-cls floating-label">
              <span class="icon-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="#002157"
                  stroke-width="2" viewBox="0 0 24 24">
                  <rect x="5" y="11" width="14" height="10" rx="2" />
                  <path d="M8 11V7a4 4 0 0 1 8 0v4" />
                </svg>
              </span>
              <input class="input-box custom-input" [type]="showConfirmPassword ? 'text' : 'password'"
                placeholder="Confirm password" formControlName="confirmpassword" />
              <span class="eye-icon" (click)="togglePassword('confirm')">
                <svg *ngIf="!showConfirmPassword" _ngcontent-ng-c3639360675="" xmlns="http://www.w3.org/2000/svg"
                  width="24" height="25" viewBox="0 0 24 25" fill="none" class="ng-star-inserted">
                  <g _ngcontent-ng-c3639360675="" opacity="0.8">
                    <path _ngcontent-ng-c3639360675=""
                      d="M19.439 15.939C20.3636 15.0212 21.0775 14.1091 21.544 13.455C21.848 13.0287 22 12.8155 22 12.5C22 12.1845 21.848 11.9713 21.544 11.545C20.1779 9.62944 16.6892 5.5 12 5.5C11.0922 5.5 10.2294 5.65476 9.41827 5.91827M6.74742 7.24742C4.73118 8.6072 3.24215 10.4427 2.45604 11.545C2.15201 11.9713 2 12.1845 2 12.5C2 12.8155 2.15201 13.0287 2.45604 13.455C3.8221 15.3706 7.31078 19.5 12 19.5C13.9908 19.5 15.7651 18.7557 17.2526 17.7526"
                      stroke="#041643" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path _ngcontent-ng-c3639360675=""
                      d="M9.85786 10.5C9.32783 11.03 9 11.7623 9 12.5711C9 14.1887 10.3113 15.5 11.9289 15.5C12.7377 15.5 13.47 15.1722 14 14.6421"
                      stroke="#041643" stroke-width="1.5" stroke-linecap="round"></path>
                    <path _ngcontent-ng-c3639360675="" d="M3 3.5L21 21.5" stroke="#041643" stroke-width="1.5"
                      stroke-linecap="round" stroke-linejoin="round"></path>
                  </g>
                </svg>

                <svg *ngIf="showConfirmPassword" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                  stroke="#002157" stroke-width="2" viewBox="0 0 24 24">
                  <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8S1 12 1 12z" />
                  <circle cx="12" cy="12" r="3" />
                </svg>
              </span>
              <label>Confirm Password</label>
            </div>
            <div class="inpt-cls floating-label">
              <span class="icon-img">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="29" viewBox="0 0 28 29" fill="none">
                  <path d="M8.16663 10.4167L11.599 12.446C13.6 13.6291 14.3999 13.6291 16.401 12.446L19.8333 10.4167"
                    stroke="#041643" stroke-opacity="0.64" stroke-width="1.75" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M2.35177 16.2216C2.42804 19.798 2.46617 21.5862 3.78582 22.9109C5.10547 24.2356 6.9421 24.2817 10.6153 24.374C12.8792 24.4309 15.1209 24.4309 17.3848 24.374C21.058 24.2817 22.8946 24.2356 24.2142 22.9109C25.5339 21.5862 25.5721 19.798 25.6483 16.2216C25.6729 15.0716 25.6729 13.9283 25.6483 12.7785C25.5721 9.20198 25.5339 7.41375 24.2142 6.08908C22.8946 4.76442 21.058 4.71827 17.3848 4.62598C15.1209 4.56909 12.8792 4.56909 10.6153 4.62597C6.9421 4.71825 5.10547 4.76439 3.78582 6.08907C2.46617 7.41374 2.42803 9.20197 2.35177 12.7784C2.32724 13.9283 2.32724 15.0716 2.35177 16.2216Z"
                    stroke="#041643" stroke-opacity="0.64" stroke-width="1.75" stroke-linejoin="round" />
                </svg>
              </span>
              <input class="input-box custom-input" type="text" placeholder="Enter passcode"
                formControlName="passcode" />
              <label>Passcode</label>
            </div>
            <div class="btn-class">
              <button class="common-btn login-btn" type="submit">Verify Passcode</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
