
<div class="w-100 h-100 pb-4">
    <segment [segbuttons]="segbuttonConfig" (segbuttonClicked)="seghandleClick($event)" class="mt-2"></segment>
    
    <table [options]="existingCustomerProductAppOptions" *ngIf="currentTab==='existing_customer_product_application'"
        class="pb-4" (pageChange)="onPageChange($event, 2)" (searchFilter)="onSearchFilter($event, 2)"
        (sortChange)="onSortChange($event, 2)">
    </table>
   
    <table [options]="existingCustomerProductApplettersOptions"
        *ngIf="currentTab==='existing_customer_product_application_letters'" class="pb-4"
        (pageChange)="onPageChange($event, 4)" (searchFilter)="onSearchFilter($event, 4)"
        (sortChange)="onSortChange($event, 4)">
    </table>
</div>
